@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import "react-quill/dist/quill.snow.css";
@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

/* Global sabit renkler */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark mode etkisiz */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

/* Tüm site arka plan ve yazı rengi + font */
body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}